<router-outlet />
<h1 [innerHtml]="title"></h1>
<img [src]="imgSrc" />
<input [(ngModel)] = "favouriteAnimal" />
<p>{{ favouriteAnimal }}</p>
<input type="text" #pokemonName />
<button (click)="handleClick(pokemonName.value)">Click Me</button>
<table>
  <thead>
    <th>Index</th>
    <th>Name</th>
    <th>Type</th>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemons; let i = index">
      <td [class.cool-bool]="pokemon.isCool">
        {{ pokemon.id }}
      </td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.type }}</td>
    </tr>
    <tr *ngFor="let pokemon of pokemons; let i = index">
      <td [ngClass]="{'cool-bool' : pokemon.isCool}">
        {{ pokemon.id }}
      </td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.type }}</td>
    </tr>
  </tbody>
</table>
